/* COMMON - styling used for all pages*/
body {
  display: flex;
  width: 100%;
  margin: 0;
  flex-direction: column;
  background-color: #f8f6ee;
}

h1 {
  font-family: Andale Mono, monospace;
  color: rgb(122, 3, 3);
  font-size: 30px;
}

h2 {
  font-family: Andale Mono, monospace;
  color: rgb(184, 12, 12);
  font-size: 20px;
}

h3 {
  font-family: Andale Mono, monospace;
  color: rgb(245, 51, 51);
  font-size: 15px;
}

p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: black;
  font-size: 15px;
  line-height: 1.8em;
}
.doclinks {
  color: rgb(190, 21, 21);
  text-decoration: none;
}
.doclinks:hover {
  text-decoration: underline;
}
.sticky {
  position: fixed;
  top: 0;
  z-index: 99;
}

.zoomed-image {
  max-width: 50%;
  max-height: 50%;
}

.zoom-background {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 99;
}

/* HEADER */
.header {
  overflow: hidden;
  width: 100%;
  background-color: #eeeded;
  border-bottom: 3px solid rgb(216, 24, 24);
}

#homepageLink {
  width: 18vw !important;
}

#links {
  display: flex;
  justify-content: space-between;
  padding: 0% 8%;
  align-items: baseline;
  font-family: Andale Mono, monospace;
  font-size: 1.3vw;
}

#links a {
  position: relative;
  text-align: center;
  text-decoration: none;
  color: black;
  width: 9vw;
  height: 3vw;
}

#links a:hover {
  color: rgb(216, 24, 24);
}

#logo {
  position: relative;
  width: 100%;
  align-items: baseline;
  padding-top: 10px;
}

/*DROPDOWN*/
.dropDown {
  display: none;
  position: absolute;
  background-color: blue;
  width: 9vw;
  overflow: visible;
}
.dropDown a {
  position: absolute;
  display: block;
}


/* FOOTER */
.footer {
  width: 100%;
  margin-top: 2%;
  background-color: #eeeded;
  text-align: center;
  font-size: 8px;
  border-top: 3px solid rgb(216, 24, 24);
}

/*HOMEPAGE:*/

.image-carousel {
  width: 60%;
  max-width: 40vw;
  position: relative;
  margin-top: 2vw;
  margin-left: 5vw;
  float: left;
}
.slides {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 11vw;
  width: auto;
  padding: 16px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.number {
  color: #fdfdfd;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  font-family: Andale Mono, monospace;
}

.velkommen {
  width: 40%;
  float: left;
  padding-left: 50px;
  margin-top: 2vw;
}

/*IMAGES: https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8px;
}

.column {
  flex: 20%;
  max-width: 25%;
  padding: 0 5px;
}

.column img {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
}

/*Info page*/

.container {
  width: 94%;
  float: left;
  justify-content: center;
  padding-left: 2%;
  padding-top: 6%;
  padding-right: 2%;
  align-self: center;
}

.ul {
  list-style-type: square;
  font-size: 24pt;
}
.textContainer {
  max-width: 40%;
  position: relative;
  justify-content: center;
  float: left;
  padding-left: 2%;
  padding-right: 2%;
}

.mapouter {
  position: sticky;
  text-align: right;
  max-height: 550px;
  max-width: 850px;
  justify-content: left;
  padding-right: 4%;
  padding-left: 1%;
  float: left;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 600px;
  float: left;
  justify-content: left;
  padding: auto;
}

.FacebookWidget {
  justify-content: right;
  float: left;
  position: relative;
  padding-left: 4%;
  width: 400px;
  height: 500px;
}
/*MENU*/

#menu {
  margin: 0% 7% 0% 7%;
  text-align: center;
}
#menu p {
  display: inline-block;
  max-width: 500px;
  padding: 20px;
}

/*ABOUT*/
#aboutContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

#aboutustext {
  flex-shrink: 1;
  width: 30%;
  padding: 2% 0% 5% 10%;
}
#facade {
  flex-shrink: 0;
  width: 40%;
  min-width: 500px;
  padding: 7% 10% 0% 10%;
}
