.header {
  overflow: hidden;
  background-color: #eeeded;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  border-bottom: 3px solid rgb(216, 24, 24);
}
.header .links {
  display: flex;
  justify-content: space-between;
  padding: 0% 8% 0% 8%;
  align-items: baseline;
}
.header .links a {
  text-align: center;
  text-decoration: none;
  font-size: 16pt;
  font-size: 1.7vw;
  font-family: Andale Mono, monospace;

  position: relative;
  color: black;
  width: 9vw;
  height: 3vw;
}
.header .links a:hover {
  color: rgb(216, 24, 24);
}
body {
  background-color: #f8f6ee;
  margin-top: 100px;
}

#logo {
  position: relative;
  width: 30%;
  align-items: baseline;
  padding-top: 10px;
}
